Introduction_Article.aux
Introduction_Article.dvi
Introduction_Article.idx
Introduction_Article.ilg
Introduction_Article.ind
Introduction_Article.log
Introduction_Article.out
Introduction_Article.synctex.gz
Introduction_Article.toc
